@import "../constants/definitions";

.screen-message {

  .header {
    background-color: $raised-color;
    padding: $gutter-top $gutter-side;
    font-size: 1.5rem;
    box-shadow: 1px 1px 1px gray;
  }

  .body{
    box-sizing: border-box;
    padding: $gutter-top $gutter-side;
    background-color: $raised-color;
    box-shadow: 1px 1px 1px gray;

    max-width: 30rem;
    margin: {
      left: auto;
      right: auto;
    }

    .confirm-button {
      display: inline-block;

      padding: $gutter-top $gutter-side;
      cursor: pointer;
      box-shadow: $shadow;
      &:hover {
        background-color: $hover-color;
      }
    }


    .field {
      display: flex;
      width: 100%;
      background-color: $raised-color;

      .name {
        background-color: $raised-color;
        padding: $gutter-top $gutter-side;
        min-width: 4rem;
      }

      .value {
        min-width: 4rem;

        .text-wrapper {
          background-color: $raised-color;
        }
      }
    }
  }
}