@import "../constants/definitions";

.setpoint-screen {
  background-color: $raised-color;
  display: flex;
  padding: 10px;
  box-sizing: border-box;

  @media (max-width: $small-break) {
    flex-direction: column;
  }


  .left {
    .fields {
      display: flex;
      flex-direction: column;

      .field {
        float: left;
        display: flex;

        .name {
          background-color: $raised-color;
          padding: $gutter-top $gutter-side;
          min-width: 4rem;
        }

        .value {
          min-width: 3rem;

          .setpoint-input {
            width: 5rem;
            margin-top: $gutter-top;

            &.warning {
              color: orangered;
            }
          }
        }
      }
    }

    .confirm-button {
      margin: {
        top: $gutter-top;
        left: $gutter-side;
      }
      box-sizing: border-box;
      display: inline-block;
      flex: none;

      width: auto;
      padding: $gutter-top $gutter-side;
      cursor: pointer;
      box-shadow: $shadow;
      &:hover {
        background-color: $hover-color;
      }
    }
  }

}