@import "../../constants/definitions";

.dropdown {
  display: inline;

  .wrapper {
    background-color: white;

    cursor: pointer;

    &.open {
      position: absolute;
      box-shadow: $shadow;
      padding: {
        top: $gutter-top;
        bottom: $gutter-top;
      };
    }

    &.closed {
      padding: {
        left: $gutter-side;
        right: $gutter-side;
        top: $gutter-top;
        bottom: $gutter-top;
      }
    }

    .option {
      padding: {
        left: $gutter-side;
        right: $gutter-side;
        top: $gutter-top;
        bottom: $gutter-top;
      }

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}